/* Sidebar */
$menu-p-l: 72px;

.sidebar {
	position: absolute;
	z-index: 997;
	display: block;
	min-height: calc(100% - #{$navbar-top--height});
	height: calc(100% - #{$navbar-top--height})!important;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
	width: 0;
	padding-bottom: $navbar-top--height;
	@include transform(translate3d(-$leftbar-width--desktop, 0, 0));
	@include transition(transform .5s cubic-bezier(0.55, 0, 0.1, 1), width .5s cubic-bezier(0.55, 0, 0.1, 1));
	@include box-shadow(0 2px 5px 0 rgba($black,.16), 0 2px 10px 0 rgba($black,.12));
	@include clearfix;
	&.user-info-open{
		.side-nav{
			.sidebar-user-info{
				display: block;
				animation: fadeIn .7s ease-in-out;
			}
			.sidebar-menu{
				display: none;
			}
		}
		.sidebar-header {
			.user-profile{
				.user-info{
					.caret{
						@include transform(rotate(-180deg));
					}
				}
			}
		}
	}
	.sidebar-header {
		padding: 25px 24px;
		background-size: cover;
		background-position: center center;
		background-color: $leftbar-bg--white;
		position: relative;
		// height: 157.5px;
		// margin-bottom: 8px;
		@include transition(background-color .2s ease-in-out);
		.user-profile{
			margin-top: 16px;
			a{
				height: auto;
				line-height: 1.5;
				padding: 0;
			}
			.user-name{
				color: $black;
				font-size: 14px;
				margin: 0;
				font-weight: 700;
			}
			.user-info{
				display: block;
				font-size: 13px;
				text-decoration: none;
				position: relative;
				padding-right: 15px;
				color: $text-secondary;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				.caret{
					position: absolute;
					right: 4px;
					top: 7px;
					@include transition(transform .3s ease-in-out);
				}
			}
		}
	}
	.side-nav{
		.sidebar-user-info{
			display: none;
		}
		.sidebar-menu{
			display: block;
			animation: fadeIn .7s ease-in-out;
		}
		ul{
			padding: 0;
			list-style-type: none;
			li{
				line-height: 48px;
				@include transition(all .3s);
				a{
					position: relative;
					display: block;
					font-size: 13px;
					font-weight: $font-weight-medium;
					height: auto;
					color: $text-primary;
					padding: 15px 32px 15px 24px;
					line-height: 1em;
					text-decoration: none;
					@include transition(background-color .3s ease-in-out);
					@include box-shadow(none);
					&:hover{
						background-color: lighten($leftbar-bg--white, 1.5%);
					}
					>i{
						color: $text-secondary;
						font-size: 19px;
						vertical-align: sub;
						margin: 0 20px 0 0;
						width: 24px;
					}
				}
				// .menu-arrow{
				// 	position: absolute;
				// 	right: 20px;
				// 	display: inline-block;
				// 	font-family: $font-md;
				// 	text-rendering: auto;
				// 	font-size: 18px;
				// 	line-height: 18px;
				// 	-webkit-font-smoothing: antialiased;
				// 	-moz-osx-font-smoothing: grayscale;
				// 	@include transition(transform .15s);
				// 	&:before{
				// 		content: '\f2fb';
				// 	}
				// }
				// &.expand{
				// 	.menu-arrow{
				// 		@include transform(rotate(90deg));
				// 	}
				// }
				.submenu{
					display: none;
					// &:not(.show){
					// 	overflow: hidden;
					// 	padding-top: 0;
					// 	padding-bottom: 0;
					// 	height: 0;
					// }
					// @include transition(height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear);
					li{
						a{
							padding-left: $menu-p-l;
						}
					}
					
				}
				&.has-children{
					>a{
						&:after{
							position: absolute;
							right: 20px;
							display: inline-block;
							content: '\f2fb';
							font-family: $font-md;
							text-rendering: auto;
							font-size: 18px;
							line-height: 18px;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							@include transition(transform .15s);
						}
					}
					&.expand{
						>a{
							&:after{
								@include transform(rotate(90deg));
							}
						}
					}
					.submenu{
						>li >a{
							padding-left: #{$menu-p-l * 1.3};
						}
						.submenu{
							>li >a{
								padding-left: #{$menu-p-l * 1.6};
							}
						}
					}
				}
			}
		}
	}
}

.sidebar-default {
	background-color: $white;
}

.user-thumbnail {
	width: 54px;
	height: 54px;
	img {
		@include img-cover;
		// margin: 16px;
		// @include transition(all .2s ease-in-out);
		border-radius: 50%;
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* Page Inner  */
.page-inner{
	margin-left: 0;
	padding: 20px 20px 0;
	@include transition(all .5s cubic-bezier(0.55,0,0.1,1));
}

/* Sidebar Open */
body{
	// background-color: #EEEEEE;
	&.sidebar-open {
		.sidebar{
			min-width: $leftbar-width--desktop;
			width: $leftbar-width--desktop;
			@include transform(translate3d(0, 0, 0));
		}
		.page-inner{
			margin-left: $leftbar-width--desktop;
		}
	}
}