/* Wizard */
.card-wizard{
	.card-description{

	}
}

.wizard-tabs{
	@include flex-between;
	margin: 30px 0 40px;
	.wizard-item{
		text-align: center;
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			top: 25px;
			left: 0;
			right: 0;
			background-color: $light3;
			height: 4px;
			z-index: 0;
			@include transition(#{'background-color .3s'});
		}
		&:first-child{
			&:before{
				left: 50%;
			}
		}
		&:last-child{
			&:before{
				right: 50%;
			}
		}
		// Success
		&.success{
			.wizard-icon{
				background-color: $success;
				>i{
					&:before{
						display: inline-block;
					    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
					    font-size: inherit;
					    text-rendering: auto;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
		    			content: '\f26b';
		    		}
		    		.number-step{ display: none; }
					color: $white;
					@include flex-center;
				}
			}
			.wizard-content{
				.title{
					color: $success;
				}
			}
			&:before{
				background-color: $success;
			}
		}
		// Active
		&.active{
			.wizard-icon{
				background-color: $info;
				>i{
					color: $white;
					@include flex-center;
				}
			}
			.wizard-content{
				.title{
					color: $info;
				}
			}
			&:before{
				background-color: $info;
			}
		}
		.wizard-icon{
			position: relative;
			text-decoration: none;
		}
		.wizard-content{
			color: $text-secondary;
			.title{
				margin: 5px 0;
				font-weight: bolder;
			}
		}
	}
	.wizard-icon{
		display: inline-flex;
		background-color: $light3;
		border-radius: $rounded;
		@include transition(#{'background-color .3s'});
		>i{
			color: $text-secondary;
			width: 50px;
			height: 50px;
			line-height: 51px;
			font-size: 1.4em;
			font-style: normal;
			text-align: center;
		}
	}
}

.wizard-content{
	.wizard-pane{
		display: none;
		&.active{
			display: block;
			-webkit-animation-duration: .5s;
			animation-duration: .5s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
		}
	}
}