// Transform
@mixin transform($value...) {
  @each $name in $browser-prefix {
    #{$name}transform: $value;
  }
  transform: $value;
}

@mixin transform-rotate($value) {
  @each $name in $browser-prefix {
    #{$name}transform: rotate($value);
  }
  transform: rotate($value);
}

@mixin transform-scale($value) {
  @each $name in $browser-prefix {
    #{$name}transform: scale($value);
  }
  transform: scale($value);
}

@mixin transform-translate-x($value){
  @each $name in $browser-prefix {
    #{$name}transform: translate3d($value, 0, 0);
  }
  transform: translate3d($value, 0, 0);
}

@mixin transform-translate-y($value){
  @each $name in $browser-prefix {
    #{$name}transform: translate3d(0,$value,0);
  }
  transform: translate3d(0,$value,0);
}

@mixin transform-rotate-180(){
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}