/* 
	Combine: sass --watch style.scss:style.css --style compressed
 */

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('../fonts/proxima-nova/Proxima Nova Thin-webfont.eot');
    src: url('../fonts/proxima-nova/Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova/Proxima Nova Thin-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	font-family: 'Proxima Nova'!important;
	font-weight: 300;
	transition: all .3s cubic-bezier(.55,0,.1,1);
}

.container{
	margin: 30px auto;
}

/* Panel */
.panel-border {
	border: 1px solid #ddd !important;
	background: #fff;
	-webkit-box-shadow: 0 2px 20px 0px rgba($gray, .5);
	-moz-box-shadow: 0 2px 20px 0px rgba($gray, .5);
	box-shadow: 0 2px 20px 0px rgba($gray, .5);
	border: 0 !important;
	border-radius: 5px;
}
.panel-border .panel-heading {
	padding: 20px;
	overflow: hidden;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0 !important;
	// height: 55px;
	font-weight: 700;
	font-size: 2rem;
	color: $gray-dark;
}
.panel-border .panel-heading+.panel-body {
	padding: 10px 15px 15px;
}

.form-group{
	>label{
		color: $gray;
		padding: 0 0 0 .5rem;
	}
}

input, textarea, select{font-family:inherit;}
input:focus{
	outline: 0;
}

.color-box{
	height: 55px;
	position: relative;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	transition: all .3s cubic-bezier(.55,0,.1,1);
	&.active{
		border-color: #5cb3fd;
	}
	.btn, b{
		display: block;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 150ms linear;
		-moz-transition: all 150ms linear;
		-o-transition: all 150ms linear;
		-ms-transition: all 150ms linear;
		transition: all 150ms linear;
		position: absolute;
	}
	.btn{
		cursor: pointer;
		right: 0;
	}
	b{
		left: 0;
		font-size: 14px;
		margin: 3px 0 0 3px;
		text-shadow: 0 0px 1px $white;
	}
	&:hover{
		.btn, b{
			opacity: 1;
			filter: alpha(opacity=100);
			visibility: visible;
		}
	}
}
@for $i from 1 through 20 {
	.item-dark-#{$i * 5} {
		background: darken($red, $i * 5);
	}
	.item{
		width: 100%;
		height: 30px;
	}
}
