/* =============
   Button
============= */


.btn {
	padding: 5px 16px;
	border-radius: 2px;
	box-shadow: $shadow;
	text-transform: uppercase;
	font-weight: $font-normal;
	outline: none;
	-webkit-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
	-moz-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
	-o-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1);
	&:hover,&:focus,&:active {
		box-shadow: $shadow-active;
		outline: none;
	}
	&.btn-round {
		border-radius: $rounded;
	}
	&.btn-just-icon{
		font-size: 20px;
		padding: 11px 11px;
		line-height: 1em;
		>i{
			width: 20px;
			vertical-align: middle;
			font-size: 17px;
			top: -1px;
			position: relative;
		}
	}
}



@each $hex,$name in $base-color {
	.btn-#{$name}:not(:disabled):not(.disabled):not(.btn-link).active, 
	.btn-#{$name}:not(:disabled):not(.disabled):not(.btn-link):active, 
	.show>.btn-#{$name}.dropdown-toggle{
		@if $name == 'white' or $name == 'light' {
			color: $text-primary;
		}
		@else {
			color: $white;
		}
		background-color: darken($hex, 5%);
		border-color: darken($hex, 10%);
	}

	.btn-#{$name}:not(:disabled):not(.disabled):not(.btn-link).active:focus, 
	.btn-#{$name}:not(:disabled):not(.disabled):not(.btn-link):active:focus, 
	.show>.btn-#{$name}.dropdown-toggle:focus{
		box-shadow: $shadow-active;
	}

	.btn-#{$name}:not(.btn-link) {
		@if $name == 'white' or $name == 'light' {
			color: $text-primary;
			border: 1px solid rgba($black, .1);
		}
		@else {
			color: $white;
		}
		background-color: $hex;
		border-color: $hex;
	}

	.btn-outline-#{$name}:not(:disabled):not(.disabled).active, 
	.btn-outline-#{$name}:not(:disabled):not(.disabled):active, 
	.show>.btn-outline-#{$name}.dropdown-toggle{
		color: $white;
	}

	.btn-outline-#{$name}:not(:disabled):not(.disabled).active:focus, 
	.btn-outline-#{$name}:not(:disabled):not(.disabled):active:focus, 
	.show>.btn-outline-#{$name}.dropdown-toggle:focus{
		box-shadow: $shadow-active;
	}

	.btn-outline-#{$name} {
		color: $hex;
		border-color: $hex;
		background-color: $white;
		&:hover{
			color: $white;
			background-color: $hex;
			border-color: $hex;
		}
	}
}

.btn-link{
	box-shadow: none;
	@each $hex,$name in $base-color {
		@if $name != 'white' and $name != 'light'{
			&.btn-#{$name} {
				color: $hex;
				border-color: transparent;
				&:hover,&:focus,&:active {
				// @if $name == 'warning' {
				// 	color: $text-primary;
				// }
				// @else {
				// 	color: $hex;
				// }
				color: $hex;
				text-decoration: none;
				background-color: rgba(0,0,0,0.1);
				box-shadow: none;
			}
		}
		&.btn-#{$name}:not(:disabled):not(.disabled).active, 
		&.btn-#{$name}:not(:disabled):not(.disabled):active, 
		&.show>.btn-#{$name}.dropdown-toggle{
			@if $name == 'warning' {
				color: $text-primary;
			}
			@else {
				color: $hex;
			}
			color: $hex;
			background-color: rgba(0,0,0,0.1);
			border-color: transparent;
			box-shadow: none;
		}
		&.btn-#{$name}:not(:disabled):not(.disabled).active:focus, 
		&.btn-#{$name}:not(:disabled):not(.disabled):active:focus, 
		&.show>.btn-#{$name}.dropdown-toggle:focus{
			box-shadow: none;
		}
	}
	&.btn-default{
		box-shadow: none;
		color: $text-primary;
		border-color: transparent;
		&:hover,&:focus,&:active {
			text-decoration: none;
			box-shadow: none;
			background-color: rgba(0,0,0,0.1);
		}
	}
	&.btn-default:not(:disabled):not(.disabled).active, 
	&.btn-default:not(:disabled):not(.disabled):active, 
	&.show>.btn-default.dropdown-toggle{

	}
	&.btn-default:not(:disabled):not(.disabled).active:focus, 
	&.btn-default:not(:disabled):not(.disabled):active:focus, 
	&.show>.btn-default.dropdown-toggle:focus{
		
	}
}
}
