/* =============
   Common
============= */

body{
	font-family: $font-primary;
	font-size: $font-size-base;
	font-weight: normal;
}

/* Clear Flex*/
@each $size in $base-size-name {
	@include media-breakpoint-down($size) {
		.clearflex-#{$size} {
			display: block!important;
		}
	}
}